/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #E47A2E;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

p {
    color: #353535;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #353535;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top:hover {
    background: #E47A2E;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}


/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
    border-radius: 0;
    margin-bottom: 15px
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #E47A2E;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #353535;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #E47A2E;
}

button.btn {
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 0;
}

button.btn:hover {
    color: #ffffff;
    background: #E47A2E;
    border-color: #E47A2E;
}


/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #ffffff;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-width: 100%;
    max-height: 60px;
}

.top-header .search {
    width: 100%;
}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
}

.top-header .search input[type=text]:focus {
    border-color: #E47A2E;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #353535;
}

.top-header .search button:hover {
    background: #E47A2E;
    color: #ffffff;
}

.top-header .social {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: right;
}

.top-header .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #353535;
}

.top-header .social a:hover {
    background: #E47A2E;
    border: 1px solid #E47A2E;
}

.top-header .social a i {
    color: #353535;
}

.top-header .social a:hover i {
    color: #ffffff;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo,
    .top-header .search,
    .top-header .social {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .top-header .social {
        margin-bottom: 0;
    }
}


/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.header.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(228, 122, 46, .2);
    border-bottom: 2px solid #E47A2E;
    transition: none;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .header,
    .header .navbar {
        background: #353535 !important;
    }
    
    .header .navbar-brand {
        display: none;
    }
    
    .header a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .header,
    .header .navbar {
        background: #333333 !important;
    }
    
    .header a.nav-link {
        padding: 5px;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

.sidebar .sidebar-widget {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 700;
    margin-left: 40px;
}

.sidebar .sidebar-widget h2 i {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 28px;
}

.sidebar .sidebar-widget .category {
    position: relative;
}

.sidebar .sidebar-widget .category .fa-ul {
    margin-left: 23px;
}

.sidebar .sidebar-widget .category .fa-ul li {
    margin-bottom: 10px;
}

.sidebar .sidebar-widget .category .fa-ul li i {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a:hover {
    color: #E47A2E;
}

.sidebar .sidebar-widget .tags {
    position: relative;
}

.sidebar .sidebar-widget .tags a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
}

.sidebar .sidebar-widget .tags a:hover {
    color: #ffffff;
    background: #E47A2E;
    border: 1px solid #E47A2E;
}

.sidebar .sidebar-widget .image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .sidebar-widget .image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
    transform: scale(1.1);
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/**********************************/
/********* Single News CSS ********/
/**********************************/
.single-news {
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
}

.single-news .sn-img {
    position: relative;
    overflow: hidden;
}

.single-news .sn-img img {
    width: 100%;
}

.single-news .sn-content {
    position: relative;
    width: 100%;
    padding: 30px 0 30px 0;
}

.single-news .sn-content a.sn-title {
    display: block;
    width: 100%;
    color: #353535;
    font-size: 35px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}

.single-news .sn-content a.sn-title:hover {
    color: #E47A2E;
}

.single-news .sn-content a.sn-date {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.single-news .sn-content a.sn-date i {
    margin-right: 5px;
}

.single-news .sn-content a.sn-date:hover {
    text-decoration: underline;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #111111;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}