/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
    font-size: 15px;
}

a {
    color: #D65708;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

p {
    color: #353535;
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #642506;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top:hover {
    background: #D65708;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}


/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
    border-radius: 0;
    margin-bottom: 15px
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #D65708;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #353535;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #D65708;
}

button.btn {
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 0;
}

button.btn:hover {
    color: #ffffff;
    background: #D65708;
    border-color: #D65708;
}


/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #ffffff;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-width: 100%;
    max-height: 60px;
}

.top-header .search {
    width: 100%;
}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
}

.top-header .search input[type=text]:focus {
    border-color: #D65708;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #353535;
}

.top-header .search button:hover {
    background: #D65708;
    color: #ffffff;
}

.top-header .social {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: right;
}

.top-header .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #353535;
}

.top-header .social a:hover {
    background: #D65708;
    border: 1px solid #D65708;
}

.top-header .social a i {
    color: #353535;
}

.top-header .social a:hover i {
    color: #ffffff;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo,
    .top-header .search,
    .top-header .social {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .top-header .social {
        margin-bottom: 0;
    }
}


/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.header.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: #732904;
    border-bottom: 2px solid #F6821F;
    transition: none;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .header,
    .header .navbar {
        background: #353535 !important;
    }
    
    .header .navbar-brand {
        display: none;
    }
    
    .header a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .header,
    .header .navbar {
        background: #333333 !important;
    }
    
    .header a.nav-link {
        padding: 5px;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 80%;
    margin-left: 60px;
}

.sidebar .sidebar-widget {
    position: relative;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget h2 {
    color: #353535;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}

.sidebar .sidebar-widget h2 i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 17px;
}

.sidebar .sidebar-widget .category {
    position: relative;
}

.sidebar .sidebar-widget .category .fa-ul {
    margin-left: 23px;
}

.sidebar .sidebar-widget .category .fa-ul li {
    margin-bottom: 10px;
}

.sidebar .sidebar-widget .category .fa-ul li i {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a:hover {
    color: #D65708;
}

.sidebar .sidebar-widget .tags {
    position: relative;
}

.sidebar .sidebar-widget .tags a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
}

.sidebar .sidebar-widget .tags a:hover {
    color: #ffffff;
    background: #D65708;
    border: 1px solid #D65708;
}

.sidebar .sidebar-widget .image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .sidebar-widget .image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
    transform: scale(1.1);
    filter: blur(10px), grayscale(100%);
    -webkit-filter: blur(3px);
}

.img_side {
    filter: grayscale(100%);
}

/**********************************/
/********* Single News CSS ********/
/**********************************/

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1024px;
}

/**********************************/
/********* Single News CSS ********/
/**********************************/
.single-news {
    position: relative;
    padding: 10px 0 0 0;
}

.single-news .sn-img {
    position: relative;
    overflow: hidden;
}

.single-news .sn-img img {
    width: 100%;
}

.single-news .sn-content {
    position: relative;
    width: 100%;
    padding: 0px 0 30px 0;
}

.single-news .sn-content a.sn-title {
    display: block;
    width: 100%;
    color: #353535;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}

.single-news .sn-content a.sn-title:hover {
    color: #732904;
}

.single-news .sn-content a.sn-date {
    display: block;
    width: 100%;
    /* margin-bottom: 15px; */
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.single-news .sn-content a.sn-date i {
    margin-right: 5px;
}

.single-news .sn-content a.sn-date:hover {
    text-decoration: underline;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #111111;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}

.container {
    position: relative;
}

/**********************************/
/*******   Extras Mapa CSS   ******/
/**********************************/

.label_zona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.label_zona div {
    font-size: 15px;
}

.label_zona_title {
    font-weight: 600;
    font-size: 20px !important
}

#zona_1 {
    top:100px;
    left:6px;
    max-width: 190px;
    text-align: center;
}

#zona_2 {
    top:100px;
    left:445px;
    max-width: 180px;
    text-align: center;
}

#zona_3 {
    top: 490px;
    left: 5px;
    max-width: 160px;
    text-align: center;
}

#zona_4 {
    top:500px;
    left:474px;
}

#referencia {
    width: 250px;
    margin-top: -15px;
    margin-bottom: 20px;
}

#punto_1{
    font-size:2em;
    color: white;
    position:absolute;
    top: 170px;
    left: 290px;
    z-index:2     
}

#punto_2{
    font-size:2em;
    color: white;
    position:absolute;
    top: 269px;
    left: 412px;
    z-index:2     
}

#punto_3{
    font-size:2em;
    color: white;
    position:absolute;
    top: 325px;
    left: 210px;
    z-index:2     
}

#punto_4{
    font-size:2em;
    color: white;
    position:absolute;
    top: 367px;
    left: 292px;
    z-index:2     
}

.puntos div {
    font-size:15px;
    color: black;
    position:absolute;
    top: 8px;
    left: 7px;
    z-index:2   
}

/**********************************/
/*******   Extras ? CSS   ******/
/**********************************/

.meses {
    font-size:10px;
    z-index:2;
}

#ene{position:absolute;top:376px;left:63px;}
#feb{position:absolute;top:376px;left:109px;}
#mar{position:absolute;top:376px;left:155px;}
#abr{position:absolute;top:376px;left:206px;}
#may{position:absolute;top:376px;left:253px;}
#jun{position:absolute;top:376px;left:302px;}
#jul{position:absolute;top:376px;left:353px;}
#ago{position:absolute;top:376px;left:399px;}
#sep{position:absolute;top:376px;left:447px;}
#oct{position:absolute;top:376px;left:498px;}
#nov{position:absolute;top:376px;left:544px;}
#dic{position:absolute;top:376px;left:592px;}

#temp_max{
    font-size:12px;
    color: #EC7114;
    position:absolute;
    font-weight: 600;
    top:35px;
    left:135px;
    z-index:2     
}

#fin_verano{
    font-size: 13px;
    color: #993504;
    font-weight: 600;
    position:absolute;
    z-index:2 ;
    top: 330px;
    left: 152px;    

}

#punto_cima{
    color: #EC7114;
    position:absolute;
    z-index:2 ;
    font-weight: bolder;
    font-size: 12px;
    top:47px;
    left:146px;
}

#denuncias{
    font-size: 12px;
    color:black;
    position:absolute;
    top:225px;
    left:100px;
    rotate: -90deg;
    z-index: 2;
}

/**********************************/
/*******  Extras barras CSS  ******/
/**********************************/

#legend_barras {
    display: flex;
}

.items_legend {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-right: 30px;
}

.items_legend i {
    font-size: 10px;
    margin-right: 5px;
}

#AppBA {
    color: #429439;
}

#otros {
    color: #d3d3d3;
}

/**********************************/
/*******      Paratextos     ******/
/**********************************/

#primer_parrafo {
    margin-top: 20px;
}

#bajada {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-top: 15px;
}
.chart_title {
    font-size: 22px;
    font-weight: 700;
}

/**********************************/
/*******       Charts        ******/
/**********************************/
.container_grafico {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

#chart_map{
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

#chart_map svg{
    max-width: initial;
}

#chart_meses svg{
    max-width: initial;
}

#chart_canales{
    height:400px;
    margin-top: 30px;
}

#chart_canales svg{
    max-width: initial;
}