/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #006B5F;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

p {
    color: #353535;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    margin: 0 0 15px 0;
    padding: 0;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #353535;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top:hover {
    background: #006B5F;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}


/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
    border-radius: 0;
    margin-bottom: 15px
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #006B5F;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #353535;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #006B5F;
}

button.btn {
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
    border-radius: 0;
}

button.btn:hover {
    color: #ffffff;
    background: #006B5F;
    border-color: #006B5F;
}


/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 15px 0;
    background: #ffffff;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-width: 100%;
    max-height: 60px;
}

.top-header .search {
    width: 100%;
}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
}

.top-header .search input[type=text]:focus {
    border-color: #006B5F;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #353535;
}

.top-header .search button:hover {
    background: #006B5F;
    color: #ffffff;
}

.top-header .social {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: right;
}

.top-header .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #353535;
}

.top-header .social a:hover {
    background: #006B5F;
    border: 1px solid #006B5F;
}

.top-header .social a i {
    color: #353535;
}

.top-header .social a:hover i {
    color: #ffffff;
}

@media (min-width: 768px) {
    .top-header {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .top-header .logo,
    .top-header .search,
    .top-header .social {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .top-header .social {
        margin-bottom: 0;
    }
}


/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.header.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(228, 122, 46, .2);
    border-bottom: 2px solid #00D6BD;
    transition: none;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .header,
    .header .navbar {
        background: #353535 !important;
    }
    
    .header .navbar-brand {
        display: none;
    }
    
    .header a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {   
    .header,
    .header .navbar {
        background: #333333 !important;
    }
    
    .header a.nav-link {
        padding: 5px;
    }
    
    .header .dropdown-menu {
        box-shadow: none;
    }
}

/**********************************/
/*********** Sidebar CSS **********/
/**********************************/
.sidebar {
    position: relative;
    width: 100%;
}

.sidebar .sidebar-widget {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.sidebar .sidebar-widget h2 {
    color: #353535;
    font-size: 35px;
    font-weight: 700;
    margin-left: 40px;
}

.sidebar .sidebar-widget h2 i {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 28px;
}

.sidebar .sidebar-widget .category {
    position: relative;
}

.sidebar .sidebar-widget .category .fa-ul {
    margin-left: 23px;
}

.sidebar .sidebar-widget .category .fa-ul li {
    margin-bottom: 10px;
}

.sidebar .sidebar-widget .category .fa-ul li i {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a {
    color: #353535;
}

.sidebar .sidebar-widget .category .fa-ul li a:hover {
    color: #00EBCF;
}

.sidebar .sidebar-widget .tags {
    position: relative;
}

.sidebar .sidebar-widget .tags a {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: #353535;
    background: #ffffff;
    border: 1px solid #353535;
}

.sidebar .sidebar-widget .tags a:hover {
    color: #ffffff;
    background: #006B5F;
    border: 1px solid #006B5F;
}

.sidebar .sidebar-widget .image a {
    display: block;
    width: 100%;
    overflow: hidden;
}

.sidebar .sidebar-widget .image img {
    max-width: 100%;
    transition: .3s;
}

.sidebar .sidebar-widget .image img:hover {
    transform: scale(1.1);
    filter: blur(10px);
    -webkit-filter: blur(3px);
}

/**********************************/
/********* Single News CSS ********/
/**********************************/
.single-news {
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
}

.single-news .sn-img {
    position: relative;
    overflow: hidden;
}

.single-news .sn-img img {
    width: 100%;
}

.single-news .sn-content {
    position: relative;
    width: 100%;
    padding: 30px 0 30px 0;
}

.single-news .sn-content a.sn-title {
    display: block;
    width: 100%;
    color: #353535;
    font-size: 35px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
}

.single-news .sn-content a.sn-title:hover {
    color: #006B5F;
}

.single-news .sn-content a.sn-date {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.single-news .sn-content a.sn-date i {
    margin-right: 5px;
}

.single-news .sn-content a.sn-date:hover {
    text-decoration: underline;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
    position: relative;
    padding: 25px 0;
    background: #111111;
}

.footer-bottom .copyright {
    text-align: left;
}

.footer-bottom .template-by {
    text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
    font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
    color: #ffffff;
}

@media (max-width: 768.98px) {
    .footer-bottom .copyright,
    .footer-bottom .template-by {
        text-align: center; 
    } 
}

#exp_6_LIZ {
    position: relative;
}

#exp_6_LIZ:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
}

#exp_6_LIZ:after {
    content: "Text Overlay";
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

#zona_1 {
    font-size:2em;
    position:absolute;
    top:100px;
    left:80px;
    z-index:2 
}

#barrios_1_1 {
    font-size:em;
    position:absolute;
    top:150px;
    left:80px;
    z-index:2 
}

#barrios_1_2 {
    font-size:em;
    position:absolute;
    top:175px;
    left:80px;
    z-index:2 
}

#barrios_1_3 {
    font-size:em;
    position:absolute;
    top:200px;
    left:80px;
    z-index:2 
}

#punto_1{
    font-size:10em;
    color: white;
    position:absolute;
    top:36px;
    left:360px;
    z-index:2     
}

#punto_1_text{
    font-size:em;
    color: black;
    position:absolute;
    top:198px;
    left:377px;
    z-index:2     
}

#zona_2 {
    font-size:2em;
    position:absolute;
    top:600px;
    left:50px;
    z-index:2 
}

#barrios_2_1 {
    font-size:em;
    position:absolute;
    top:650px;
    left:50px;
    z-index:2 
}

#barrios_2_2 {
    font-size:em;
    position:absolute;
    top:675px;
    left:50px;
    z-index:2 
}

#barrios_2_3 {
    font-size:em;
    position:absolute;
    top:700px;
    left:50px;
    z-index:2 
}

#punto_2{
    font-size:10em;
    color: white;
    position:absolute;
    top:165px;
    left:540px;
    z-index:2     
}

#punto_2_text{
    font-size:em;
    color: black;
    position:absolute;
    top:326px;
    left:557px;
    z-index:2     
}

#zona_3 {
    font-size:2em;
    position:absolute;
    top:150px;
    left:700px;
    z-index:2 
}

#barrios_3_1 {
    font-size:em;
    position:absolute;
    top:200px;
    left:700px;
    z-index:2 
}

#barrios_3_2 {
    font-size:em;
    position:absolute;
    top:225px;
    left:700px;
    z-index:2 
}

#barrios_3_3 {
    font-size:em;
    position:absolute;
    top:250px;
    left:700px;
    z-index:2 
}

#punto_3{
    font-size:10em;
    color: white;
    position:absolute;
    top:228px;
    left:300px;
    z-index:2     
}

#punto_3_text{
    font-size:em;
    color: black;
    position:absolute;
    top:390px;
    left:317px;
    z-index:2     
}

#zona_4 {
    font-size:2em;
    position:absolute;
    top:600px;
    left:550px;
    z-index:2 
}

#barrios_4 {
    font-size:em;
    position:absolute;
    top:650px;
    left:550px;
    z-index:2 
}

#punto_4{
    font-size:10em;
    color: white;
    position:absolute;
    top:280px;
    left:390px;
    z-index:2     
}

#punto_4_text{
    font-size:em;
    color: black;
    position:absolute;
    top:442px;
    left:406px;
    z-index:2     
}